{% extends "master.html" %} {% block title %} My Tennis Club - List of all
members {% endblock %} {% block content %}
<h1>Members</h1>

<ul>
  {% for x in mymembers %}
  <li>
    <a href="details/{{ x.id }}">{{ x.firstName }} {{ x.lastName }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
