{% extends "master.html" %} {% block title %} Details about {{mymember.firstname
}} {{ mymember.lastname }} {% endblock %} {% block content %}
<h1>{{ mymember.firstName }} {{ mymember.lastName }}</h1>

<p>Email {{ mymember.email }}</p>
<p>Birthday: {{ mymember.birthDay }}</p>

<p>Back to <a href="/members">Members</a></p>
{% endblock %}
